<!-- Content section -->
<section class="py-5">
	<div class="container">
    <h1>¿Sin plan para hoy?</h1>
    <p class="lead">Registrate</p>
    <p>Tendras la extensa variedad de informacion respecto a eventos situados cerca a tu ubicacion GPS, gracias a nuestra informacion actualizada minuto a minuto,
     tendras acceso a multitudes de eventos cerca a tu ubicacion</p>
  </div>
</section>