<!-- Content section -->
<section class="py-5">
  <div class="container text-center">
    <h1>¿Como me registro?</h1>
 	<br>
    <%= link_to 'Registrar',new_user_registration_path,class: "btn btn-primary" %>
  </div>
</section>