<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://images5.alphacoders.com/647/647367.jpg'); text-align: center;">
  <h1 class="img-fluid d-block mx-auto" style="background-color: white; box-shadow: 0 0 20px; width: 25%; border-radius: 10px;"> BOGOTAPP </h1>
</header>
