<!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8" style="margin: 0 auto;">
        <h1 class="my-4">Eventos en tu Ciudad</h1>
        <hr class="bg-primary">
        <!-- Blog Post -->
        <% @events.each do |i|  %>
          <div class="card mb-4">
            <%= image_tag (i.img_url), class: "img-fluid rounded" %>
            <div class="card-body">
              <h2 class="card-title"><%= i.title %></h2>
              <a href="#" class=""></a>
              <%= link_to 'Saber mas',event_path(i),class: "btn btn-link" %>
            </div>
            <div class="card-footer text-muted">
              Postedo en: <%= i.publication_date %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
